@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 390px;
  max-height: 845px;
  font-family: "Quicksand", serif;
}

.contenedor{
  background: linear-gradient(rgb(46, 185, 255), rgba(206, 231, 255, 0.827),rgb(255, 255, 255));
  width: 390px;
  height: 845px;
}

.logo{
  position: relative;
    left: 25px; 
    bottom: 155px;
}

.cont-fondo{
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 330px;
  height: 490px;
  border-radius: 40px;
  top: 250px;
  left: 30px;
  z-index: 1;
}

.title{
  position: absolute;
  color: #49B5E7;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  left: 85px;
  top: 280px;
  z-index: 2;
}

.cont-registro{
  position: absolute;
  padding: 10px;
  margin: 20px;
  left: -8px;
  bottom: 130px;
}

.in-text{
  margin: 10px;
  border-radius: 20px;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  width: 240px;
  height: 33px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  padding-left: 20px;
}

.fecha-nacimiento{
  position: absolute;
  color: rgb(139, 139, 139);
  font-size: 15px;
  top: 350px;
  left: 40px;
  font-weight: 600;
}

.genero{
  position: absolute;
  top: 90px;
  width: 300px;
}

.btn-reg{
  position: absolute;
  top: 140px;
  left: 20px;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  border: none;
  background: linear-gradient(rgb(50, 187, 255), rgba(49, 200, 255, 0.975),rgb(126, 218, 255));
  font-family: "Quicksand", serif;
  font-weight: 600;
  color: antiquewhite;
  font-size: 18px;
  cursor: pointer;
}

.calendar{
  margin: 10px;
  border-radius: 20px;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  width: 150px;
  height: 33px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  left: -15px;
  position: absolute;
  color: rgb(107, 107, 107) ;
  cursor: pointer;
}