@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 390px;
  max-height: 845px;
  font-family: "Quicksand", serif;
}

.contenedor{
  background:#fff;
  width: 390px;
  height: 845px;
  padding: 10px;
}

img{
    position: relative;
    width: 35px;
    height: 35px;
    top: 10px;
}

h1{
    position: relative;
    color: grey;
    font-size: 18px;
    left: 40px;
    bottom: 35px;
}



.title{
    position: relative;
    left: 20px;
    bottom: 10px;
    
}

h2{
    color: #59ACE8;
    font-size: 40px;
}

p{
    position: relative;
    bottom: 20px;
}

input{
    position: relative;
    width: 310px;
    height: 300px;
    margin: 20px;
    border-radius: 40px;
    border: 2px solid #CACACA;
    font-family: "Poppins", serif;
    padding: 10px;
}

::placeholder{
    position: relative;
    bottom: 130px;
    left: 20px;
}

button{
        position: absolute;
        width: 240px;
        height: 40px;
        padding: 12px 20px;
        background-color: #4ECDFF;
        color: #ffffff;
        border: none;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 20px;
        font-family: "Quicksand", serif;
        top: 640px;
        left: 75px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.125);
        text-align: center;
        justify-content: center;
        align-items: center;
}

