@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  max-width: 390px;
  max-height: 100%;
  font-family: "Quicksand", serif;
}


.contenedor{
  background: #f2f2f2;
  width: 390px;
  height: 1300px;
}

#image-container img {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #007bff;
  object-fit: cover;
  top: 70px;
  left: 110px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.125);
}

#file-input {
  display: none;
}

#upload-btn {
  position: absolute;
  border: none;
  background: none;
  left: 200px;
  top: 170px;
  cursor: pointer;
}

.regresar{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  left: 10px;

}

h1{
  position: absolute;
  font-size: 16px;
  font-family: "Quicksand", serif;
  font-weight: 700;
  left: 50px;
  top: 20px;
  color: #49B5E7;
}

.form{
  position: absolute;
  top: 260px;
  left: 50px;
}

.in-text{
  margin: 8px;
  border-radius: 15px;
  border: 1px solid rgb(170, 170, 170);
  width: 260px;
  height: 33px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  padding-left: 20px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.125);
}

label{
  font-size: 14px;
  font-family: "Poppins", serif;
}

.cont-registro{
  position: absolute;
  padding: 10px;
  margin: 20px;
  left: -8px;
  bottom: 130px;
}


.fecha-nacimiento{
  position: absolute;
  top: 400px;
  left: 3px;
}

.genero{
  position: absolute;
  top: 490px;
  width: 300px;
}


.calendar{
  margin: 10px;
  border-radius: 20px;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.25);
  width: 150px;
  height: 33px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  left: -15px;
  position: absolute;
  color: rgb(107, 107, 107) ;
  cursor: pointer;
}

.btn-act{
  position: absolute;
  width: 240px;
  height: 40px;
  padding: 12px 20px;
  background-color: #fff;
  color: #71D2FF;
  border: none;
  border-color: #71D2FF;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "Quicksand", serif;
  top: 560px;
  left: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.125);
  text-align: center;
  justify-content: center;
  align-items: center;
}

button:hover{
  background-color: #71D2FF;
  color: #fff;
}

.cambiar-cont{
  position: absolute;
  top: 960px;
  left: 50px;
}

h2{
  position: absolute;
  font-size: 16px;
  font-family: "Quicksand", serif;
  font-weight: 700;
  color: #49B5E7;
  left: -10px;
  top: -60px;
}

.btn-actd{
  position: absolute;
  width: 240px;
  height: 40px;
  padding: 12px 20px;
  background-color: #fff;
  color: #71D2FF;
  border: none;
  border-color: #71D2FF;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "Quicksand", serif;
  top: 1200px;
  left: 70px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.125);
  text-align: center;
  justify-content: center;
  align-items: center;
}